input {
    width: 30rem !important;
    height: 2.2rem !important;
    text-indent: 5px !important;
    margin: 2rem !important;
    position: absolute !important;
    top: 5% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 50 !important;
    border-radius: 20px !important;
    box-shadow: 0 0 4px 0.6px gray !important;
    user-select: none !important;
}

.mapboxgl-popup-content {
    cursor: default !important;
}